<div class="badge badge-danger">
    <div class="col-sm-6 border-dark"><h6>You must get a log in from us to get in to this site !</h6></div>

    <div class="col-sm-6 border-dark"><h6>Please send a mail to => register@netello.se for evaluation, Thank you !</h6></div>

</div>