
@{
    ViewData["Title"] = "Accounting";
}
    <div class="badge text-center">
        <h1>Accounting</h1>

        <h4>Purchaseorders</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="PurchaseOrders" asp-action="ListPOs">List all Purchaseorders</a>
            </li>
        </ul>

        <h4>Billing</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Bills" asp-action="ListBillsCreated">List all Bills</a>
            </li>
        </ul>

        <h4>Assets</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Assets" asp-action="ListAssets">List all Assets</a>
            </li>
        </ul>

    </div>   