
@{
    ViewData["Title"] = "Incidents";
}
<h4>Incidents - ALL</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="ListIncidents">List all Incidents</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
    </li>
</ul>