
@{
    ViewData["Title"] = "Incidents";
}
    <div class="badge text-center">
        <h4>Incidents</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidents">List Incidents Recived and Dispatched</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP1">List P1 Incidents</a>
            </li>
        </ul>       
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP2">List P2 Incidents</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP3">List P3 Incidents</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsSolved">List Solved Incidents</a>
            </li>
        </ul>
        <h4>Settings Menu</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
            </li>
        </ul>
    </div>