
@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>

@*<h4>TestModels</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="TestModels">To TestModels Menu</a>
    </li>
</ul>*@