<h4>Netello AB Business Solutions - "NAB"</h4>
<div class="badge text-center">
    <h1>Accounting</h1>

    <h4>Purchaseorders</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="PurchaseOrders" asp-action="ListPOs">List all Purchaseorders</a>
        </li>
    </ul>

    <h4>Billing</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Bills" asp-action="ListBillsCreated">List all Bills</a>
        </li>
    </ul>

    <h4>Assets</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Assets" asp-action="ListAssets">List all Assets</a>
        </li>
    </ul>
</div>
<h4>Incidents</h4>
<div class="badge text-center">    
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidents">List Incidents Recived and Dispatched</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP1">List P1 Incidents</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP2">List P2 Incidents</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP3">List P3 Incidents</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsSolved">List Solved Incidents</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="MtrlLists" asp-action="ListMtrlLists">List Mtrl. Lists</a>
        </li>
    </ul>
    @*<h4>Settings Menu</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
            </li>
        </ul>*@
</div>
<h4>Quotations</h4>
<div class="badge text-center">
    <h4>Quotations - Created</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Projects" asp-action="ListProjectsCreated">List Created Projects </a>
            @*<a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsSent">List Sent Quotations  </a>
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsAccepted">List Accepted Quotations  </a>
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsRejected">List Rejected Quotations  </a>*@
        </li>
    </ul>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Prospecting">To Prospecting Menu</a>
        </li>
    </ul>
</div>

<h1>Prospecting</h1>

<h4>Quotations</h4>
<div class="badge text-center">
    <h4>Quotations - Created</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsCreated">List Created Quotations</a>            
        </li>
        <li class="nav-item">            
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsSent">List Sent Quotations</a>           
        </li>
        <li class="nav-item">            
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsAccepted">List Accepted Quotations</a>
                    </li>
        <li class="nav-item">            
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Offers" asp-action="ListQuotationsRejected">List Rejected Quotations</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Prospecting">To Prospecting Menu</a>
        </li>
    </ul>
</div>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Quotations">To Quotations Menu</a>
    </li>
</ul>
<h4>Projects</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Projects">To Projects Menu</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Projects" asp-action="ListProjectsCreated">Direct To Projects</a>
    </li>
</ul>
<h4>Planning</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Plans" asp-action="ListPlansCreated">To Plans</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Stages" asp-action="ListStages">To Stages</a>
    </li>
</ul>
<h4>Settings Menu</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
    </li>
</ul>


<div class="badge text-center">
    <h4>Reporting - Tools</h4>

    <h4>Worklogs from DWorkin - Tools</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="WLogs" asp-action="ListWLogs">List all WLogs</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="WLogs" asp-action="ListWLogsPO">List WLogs for Per Orest</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="WLogs" asp-action="ListWLogsJM">List WLogs for Jones Moti</a>
        </li>
    </ul>


    <h4>Netello AB Worklogs (NABLog) - Tools</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsCreated">Created NABLogs</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsCreatedPO">Created NABLogs For Per Orest</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsCreatedJM">Created NABLogs For Jones Moti</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsReported">Reported NABLogs</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsReportedPO">Reported NABLogs For Per Orest</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsReportedJM">Reported NABLogs For Jones Moti</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-danger" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsBilled">Billed NABLogs</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-danger" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsBilledPO">Billed NABLogs For Per Orest</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-danger" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsBilledJM">Billed NABLogs For Jones Moti</a>
        </li>
    </ul>
    <h4>Project reports - Tools</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="ProjectReports" asp-action="Index">List all Project reports</a>
        </li>
    </ul>

    @*<h4>Settings Menu</h4>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
        </li>
    </ul>*@
</div>
