
@{
    ViewData["Title"] = "Prospecting";
}

<h1>Prospecting</h1>

<h4>Quotations</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Quotations">To Quotations Menu</a>
    </li>
</ul>
<h4>Projects</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Projects">To Projects Menu</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Projects" asp-action="ListProjectsCreated">Direct To Projects</a>
    </li>
</ul>
<h4>Settings Menu</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
    </li>
</ul>
   