
@{
    ViewData["Title"] = "Reporting";
}
    <div class="badge text-center">
        <h4>Reporting - Tools</h4>

        <h4>Worklogs from DWorkin - Tools</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="WLogs" asp-action="ListWLogs">List all WLogs</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="WLogs" asp-action="ListWLogsPO">List WLogs for Per Orest</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="WLogs" asp-action="ListWLogsJM">List WLogs for Jones Moti</a>
            </li>
        </ul>


        <h4>Netello AB Worklogs (NABLog) - Tools</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsCreated">Created NABLogs</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsReported">Reported NABLogs</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="NABLogs" asp-action="ListNABLogsBilled">Billed NABLogs</a>
            </li>
        </ul>
        <h4>Project reports - Tools</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="ProjectReports" asp-action="Index">List all Project reports</a>
            </li>
        </ul>

        <h4>Settings Menu</h4>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Settings">To Settings Menu</a>
            </li>
        </ul>
    </div>