
@{
    ViewData["Title"] = "Settings";
}

<h1>Company Settings</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CompanyRoles" asp-action="Index">Company Roles - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CompanyStatus" asp-action="Index">Company Statuses - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CompanyTypes" asp-action="Index">Company Types - Tool</a>
    </li>
</ul>

<h1>Incident Settings</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="IncidentPriorities" asp-action="Index">Incident Priorities - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="IncidentStatus" asp-action="Index">Incident Statuses - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="IncidentTypes" asp-action="Index">Incident Types - Tool</a>
    </li>
</ul>

<h1>Person Settings</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonRoles" asp-action="Index">Person Roles - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonStatus" asp-action="Index">Person Statuses - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonTypes" asp-action="Index">Person Types - Tool</a>
    </li>
</ul>

<h1>Site Settings</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteRoles" asp-action="Index">Site Roles - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteStatus" asp-action="Index">Site Statuses - Tool</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteTypes" asp-action="Index">Site Types - Tool</a>
    </li>
</ul>

<h1>WLog Settings</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WLogStatus" asp-action="Index">WLogs Statuses - Tool</a>
    </li>
</ul>


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Reporting">To Reporting Menu</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Accounting">To Accounting Menu</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Admin">To Admin Menu</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Incidents">To Incidents Menu</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-sm btn-outline-warning" asp-area="" asp-controller="PersonAccounts" asp-action="Index">To Person ACCOUNTS !</a>
    </li>
</ul>
