
@{
    ViewData["Title"] = "TestModels";
}

<h1>TestModels</h1>

<h4>TestModels List</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="TestModels" asp-action="ListTestModels">To TestModels</a>
    </li>
</ul>

<h4>SubModels List</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="SubModels" asp-action="Index">To SubModels</a>
    </li>
</ul>