@model PRONBS.Models.DataModels.TimeReport

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Edit</h1>

<h4>TimeReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TimeReportName" class="control-label"></label>
                <input asp-for="TimeReportName" class="form-control" />
                <span asp-validation-for="TimeReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeCreated" class="control-label"></label>
                <input asp-for="DateTimeCreated" class="form-control" />
                <span asp-validation-for="DateTimeCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeFrom" class="control-label"></label>
                <input asp-for="DateTimeFrom" class="form-control" />
                <span asp-validation-for="DateTimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeTo" class="control-label"></label>
                <input asp-for="DateTimeTo" class="form-control" />
                <span asp-validation-for="DateTimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId1" class="control-label"></label>
                <select asp-for="PersonId1" class="form-control" asp-items="ViewBag.PersonId1"></select>
                <span asp-validation-for="PersonId1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-success" asp-controller="TimeReports" asp-action="IndexSearch">Back to Time Reports</a>
</div>
