@model PRONBS.LAB.Models.DataModels.Decimals

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Decimals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Value1" class="control-label"></label>
                <input asp-for="Value1" class="form-control" />
                <span asp-validation-for="Value1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value2" class="control-label"></label>
                <input asp-for="Value2" class="form-control" />
                <span asp-validation-for="Value2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value3" class="control-label"></label>
                <input asp-for="Value3" class="form-control" />
                <span asp-validation-for="Value3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDecimals" class="control-label"></label>
                <input asp-for="ProductDecimals" class="form-control" />
                <span asp-validation-for="ProductDecimals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumDecimals" class="control-label"></label>
                <input asp-for="SumDecimals" class="form-control" />
                <span asp-validation-for="SumDecimals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
